:root {
    --bg-vazio: rgb(46, 46, 46);
    --bg-app: #505050;
    --bg-header: rgb(106, 57, 134);
    --shadow: rgba(0,0,0,0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Classes Utilitárias */
/* Feitas para poupar definição de layout sempre a cada estilização criada */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
/* Fim */

body {
    background-color: var(--bg-vazio);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* Anula as configurações de estilo do botão css padrão + Mudança de cursor */
button {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

.app-container {
    width: 100%;
    max-width: 480px;
    background-color: var(--bg-app);
    min-height: 100vh;
    box-shadow: 0 0 20px var(--shadow);
    color: white;
}

.app-container header {
    height: 15vh;
    width: 100%;
    background-color: var(--bg-header);
}

#header-title {
    font-size: 2.5rem;
    font-weight: 700; 
    letter-spacing: 0.8px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.app-container main {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}

#primary-options {
    height: 20vh;
}

#primary-options button:hover {
    background-color: #707070;
}

.btn-select {
    background-color: rgb(65, 65, 65);
    font-weight: bold;
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
    height: 5vh;
    transition: transform 0.2s ease-in-out;
}

.btn-select:hover {
    border-color: #FFF;
    transform: scale(1.05);
}

.btn-select:active {
    transform: scale(0.95);
}

#user-tasks{
    padding: 5%
}

.task {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: rgb(105, 110, 133);
    box-shadow: 0 0 20px var(--shadow);
    padding: 0 15px 0 15px;
    transition: transform 0.2s;
    border-radius: 8px;
}

.task:hover {
    background-color: rgb(64, 85, 179);
    transform: scale(1.05);
}

.task-name {
    flex: 1;
    min-width: 0;
    overflow: hidden;  
    text-align: left;   
    white-space: nowrap;  
    text-overflow: ellipsis;
    font-size: 1.5em;
}

.task-priority {
    flex-shrink: 0;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
}

.app-container footer {
    height: 15vh;
    width: 100%;
}

#page-switch-text {
    font-size: 1.3em;
    font-style: italic;
    text-wrap: nowrap;
}
